<ion-view title="Bridgecraft" hide-nav-bar="true" cache-view="false" id="page2">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="bridgecraft-container58" class="header-Landscape">
      <div>
        <a href="/" class="logo">Bridgecraft</a>

        <div class="hidden-md hidden-lg">
          <input class="menu-btn" type="checkbox" id="menu-btn">
          <label class="menu-icon" for="menu-btn">
            <span class="navicon"></span>
          </label>
          <ul class="dmenu">
            <li>
              <a href="#work">Our Work</a>
            </li>
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#careers">Careers</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
          </ul>
        </div>

        <div class="visible-md visible-lg " style="display:block; line-height:56px; margin-left:250px;">
          <ul style="float:right">
            <li style="margin-right:20px">Contact Us</li>
            <li style="margin-right:20px">Visit the Warehouse</li>
            <li style="margin-right:20px">About us</li>

          </ul>
          <ul class="dmenu">
            <li></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="bridgecraft-container89" class="container-fluid">
      <div id="bridgecraft-container90" class="row-tb">
        <div id="bridgecraft-container91" style="padding-left:6px;" class="col-sm-3 hidden-xs">
          <ion-list id="bridgecraft-list2">
            <ion-item id="bridgecraft-list-item10">Item 1</ion-item>
            <ion-item id="bridgecraft-list-item11">Item 2</ion-item>
            <ion-item id="bridgecraft-list-item12">Item 3</ion-item>
          </ion-list>
        </div>
        <div id="bridgecraft-container92" style="margin:0px;" class="col-xs-12 col-sm-9 row-tb">
          <gallery-block id="bridgecraft-container82" ng-repeat="item in gallery" data="item" class="col-xs-6 col-sm-4 col-md-3 col-lg-2 creator-container"></gallery-block>
        </div>
      </div>
    </div>
    <div id="bridgecraft-container78" style="padding:5px; margin-top:5px" class="container-fluid">
      <div id="bridgecraft-container77" class="row-tb">
        <div id="bridgecraft-container76" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div>
            <p class="logo-footer">Bridgecraft Upholstery</p>
            <p></p>
          </div>
          <div id="bridgecraft-markdown4" class="show-list-numbers-and-dots">
            <p style="color:#000000;">© copyright Bridgecraft Upholstery 2016</p>
          </div>
          <div class="hidden-xs">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2407.1194273712877!2d-1.260650084100963!3d52.89227281632543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4879e8f25b520403%3A0x466262009c357453!2s4+Thrumpton+Ave%2C+Long+Eaton%2C+Nottingham+NG10+2GB!5e0!3m2!1sen!2suk!4v1478787120675"
              width="100%" height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe>
          </div>
          <div id="bridgecraft-markdown5" class="show-list-numbers-and-dots">
            <p style="color:#000000;">Unit 4 (The Old Dairy), Meadow Lane Industrial Estate, Meadow Lane, Long Eaton, NG10 2FE</p>
          </div>
        </div>
        <div id="bridgecraft-container94" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <h1 id="bridgecraft-heading1" style="color:#000000;" class="logo-footer hidden-xs">Social Media</h1>
          <div id="bridgecraft-button-bar1" class="button-bar">
            <button id="bridgecraft-button11" class="button button-positive  button-block button-clear icon ion-social-facebook"></button>
            <button id="bridgecraft-button12" class="button button-positive  button-block button-clear icon ion-social-twitter"></button>
            <button id="bridgecraft-button13" class="button button-positive  button-block button-clear icon ion-email"></button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>