<ion-view title="Page" hide-nav-bar="true" id="page1">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="page-container31" class="header-Landscape">
      <div>
        <a href="/" class="logo">Bridgecraft</a>

        <input class="menu-btn" type="checkbox" id="menu-btn">
        <label class="menu-icon" for="menu-btn">
          <span class="navicon"></span>
        </label>
        <ul class="dmenu">
          <li>
            <a href="#work">Our Work</a>
          </li>
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#careers">Careers</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="page-container14" class="row mainPage-Landscape">
      <div id="page-container15" class="col-20">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
      </div>
      <div id="page-container23" class="col-40">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
      </div>
      <div id="page-container24" class="col-40">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
      </div>
    </div>
    <div id="page-container35" class="row mainPage-Portrait">
      <div id="page-container33" class="col-50">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
      </div>
      <div id="page-container34" class="col-50">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
      </div>
    </div>
    <div id="page-container50" class="footer-Landscape">
      <div id="page-container49" class="row responsive-md">
        <div id="page-container48" class="col-25">
          <div>
            <p class="logo-footer">Bridgecraft Upholstery</p>
            <p></p>
          </div>
          <div id="page-markdown3" class="show-list-numbers-and-dots">
            <p style="color:#000000;">© copyright Bridgecraft Upholstery 2014 139A London Rd, Shardlow, Derby DE72 2HA</p>
          </div>
        </div>
        <div id="page-container53" class="col-25 creator-container"></div>
        <div id="page-container51" class="col-25 creator-container"></div>
        <div id="page-container52" class="col-25 creator-container"></div>
      </div>
    </div>
  </ion-content>
</ion-view>