<ion-view title="Products" hide-nav-bar="true" cache-view="false" id="page2">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="products-container58" class="header-Landscape">
      <div>
        <a href="/" class="logo">Bridgecraft</a>

        <input class="menu-btn" type="checkbox" id="menu-btn">
        <label class="menu-icon" for="menu-btn">
          <span class="navicon"></span>
        </label>
        <ul class="dmenu">
          <li>
            <a href="#work">Our Work</a>
          </li>
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#careers">Careers</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="products-container62" class="row mainPage-Landscape">
      <div id="products-container59" class="col-20">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
      </div>
      <div id="products-container60" class="col noPadding">
        <div id="products-container72" class="row responsive-lg noPadding">
          <div id="products-container73" class="col noPadding noBottomPadding">
            <div id="products-container75" class="row responsive-md noPadding">
              <div id="products-container77" class="col noRightPadding noBottomPadding">
                <div id="products-container81" class="GalleryImage">
                  <div>
                    <img src="img/EAwLkEdSF6FkW3zzsLWA_KingsInteriorsShowroom5600.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                  </div>
                  <p>
                    <span>Bedroom
                      <span class="spacer"></span>
                      <br>
                      <span class="spacer"></span>Antics</span>
                  </p>
                </div>
              </div>
              <div id="products-container78" class="col noRightPadding noBottomPadding">
                <div id="products-container82" class="GalleryImage">
                  <div>
                    <img src="img/EAwLkEdSF6FkW3zzsLWA_KingsInteriorsShowroom5600.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                  </div>
                  <p>
                    <span>Bedroom
                      <span class="spacer"></span>
                      <br>
                      <span class="spacer"></span>Antics</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div id="products-container89" class="col noPadding">
            <div id="products-container88" class="row responsive-md noPadding">
              <div id="products-container85" class="col noRightPadding noBottomPadding">
                <div id="products-container84" class="GalleryImage">
                  <div>
                    <img src="img/EAwLkEdSF6FkW3zzsLWA_KingsInteriorsShowroom5600.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                  </div>
                  <p>
                    <span>Bedroom
                      <span class="spacer"></span>
                      <br>
                      <span class="spacer"></span>Antics</span>
                  </p>
                </div>
              </div>
              <div id="products-container87" class="col noRightPadding noBottomPadding">
                <div id="products-container86" class="GalleryImage">
                  <div>
                    <img src="img/EAwLkEdSF6FkW3zzsLWA_KingsInteriorsShowroom5600.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                  </div>
                  <p>
                    <span>Bedroom
                      <span class="spacer"></span>
                      <br>
                      <span class="spacer"></span>Antics</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="products-container65" class="row mainPage-Portrait">
      <div id="products-container63" class="col-50">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
      </div>
      <div id="products-container64" class="col-50">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
      </div>
    </div>
    <div id="products-container71" class="footer-Landscape">
      <div id="products-container70" class="row responsive-md">
        <div id="products-container66" class="col-25">
          <div>
            <p class="logo-footer">Bridgecraft Upholstery</p>
            <p></p>
          </div>
          <div id="products-markdown4" class="show-list-numbers-and-dots">
            <p style="color:#000000;">© copyright Bridgecraft Upholstery 2014 139A London Rd, Shardlow, Derby DE72 2HA</p>
          </div>
        </div>
        <div id="products-container67" class="col-25 creator-container"></div>
        <div id="products-container68" class="col-25 creator-container"></div>
        <div id="products-container69" class="col-25 creator-container"></div>
      </div>
    </div>
  </ion-content>
</ion-view>